*{
    margin:0;
    padding:0;
    scrollbar-width: none;
    /* border: 1px solid red; */
    font-family: 'Archivo Black', sans-serif;
}
h2, h3, h1{
    font-family: 'Archivo Black', sans-serif;
}
body::-webkit-scrollbar{
    display: none;
}
header{
    height: 100vh;
}
.separador{
    display:block;
    width: 100%;
}
/* Contacto header */
#contacto-header{
    padding: 5px;
    text-align:center;
    height: 7vh;
    background-color: #44B7CF;
    color: #fff;
}

#contacto-header ul li{
    display: inline;
    vertical-align: middle;
    padding: 5px;
}
#contacto-header ul li a{
    text-decoration: none;
    color: #fff;
    
}
nav ul li a{
    text-shadow: 1px 1px 2px #000;
}
#Registro{
    text-decoration: none;
    padding: 5px;
    background-color: rgb(17, 151, 191);
    color: white;
    border: none;
    border-radius: 5px;
}
#Registro:hover{
        background-color: rgb(32, 188, 236);
        box-shadow: 0 10px 10px rgb(0 0 0 / 50%);
        transform: translateY(-2px)!important;
}
#face{
    width: 2.5%;
}
#whats{
    width: 3%;
}
/* end */
/* Benner */
#banner{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("/img/madreTierra.jpeg"); */
    height: 95vh;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    background-color: #131420;
}
#banner h1{
    margin-top:30vh;
    font-size: 60px;
    color: rgb(56, 209, 255);
}
#menu, #cell{
    display: none;
}

/* end */
/* Nav */
nav{
    /* display: flex; */
    justify-content: space-evenly;
    padding:10px;
}
nav ul{
    margin: 0 auto;
    align-self: center;
}
nav ul li{
    display: inline;
    padding: 10px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}
nav ul li a:hover{
    text-decoration: none;
    color: rgb(22, 201, 255);
}

.menu-fixed {
	position:fixed;
	z-index:1000;
	top:0;
    left:0;
	width:100%;
    height: auto;
    background-color: #44B7CF;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
}

/* end */
/* contacto home */
#contact-header{
    border: 1px solid rgba(255, 0, 0, 0);
    height: 95vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),url("../img/camioneta.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
}
#contact-header ul{
    margin:10px;
}
#contact-header div{
    padding-top: 5%;
    display: flex;
    justify-content: center;
}
#contact-header div ul{
    list-style: none;
    padding-left: 20px;
}
#contact-header h2{
    padding:5%;
    font-size:60px;
    color: rgb(32, 188, 236);
}
#contact-header h3{
    font-size:25px;
    margin: 0 auto;
    width: 80%;
}
#contact-header div button{
    padding: 0px 25px;
    background-color: rgb(17, 151, 191);
    color: white;
    border: none;
    border-radius:5px;
}
#contact-header div button:hover{
    cursor: pointer;
    background-color: rgb(32, 188, 236);
    box-shadow: 0 10px 10px rgb(0 0 0 / 50%);
    transform: translateY(-2px)!important;
    transition: all 0.2s ease-in-out 0s;
}

.reservar{
    text-decoration: none;
    padding: 10px;
    background-color: rgb(17, 151, 191);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.reservar:hover{
    background-color: rgb(32, 188, 236);
    box-shadow: 0 10px 10px rgb(0 0 0 / 50%);
    transform: translateY(-2px)!important;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
}

#contact-index{
    padding-top: 20px;
}
/* end */

/* Footer */
footer{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("/img/banner.jpg"); */
    background-color: #131420;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    /* height: 22vh; */
    color: #fff;
    border-top: 1px solid rgb(215, 215, 215);
}
footer h2, footer h3{
    padding:10px;
}
footer h2{
    font-size:40px;
}
footer ul{
    display: flex;
    justify-content: center;
    margin:0;
}
footer ul li{
    display: inline;
    align-self: center;
    padding-right:20px;
    padding-top:5px;
}
footer ul li img{
    width: 25%;
}
footer ul li a{
    text-decoration: none;
    color: rgb(30, 202, 255);
}
footer div{
    border-bottom: 1px solid rgb(215, 215, 215);
}
/* end */

@media (max-width: 32.5rem) {

    h2{
        font-size: 25px;
    }
    h3{
        font-size: 20px;
    }
    /*heaader*/
    header{
        height: 60vh;
    }
    #banner h1{
        margin-top: 20vh;
    }
    #banner{
        height: 55vh;
    }
    #contacto-header{
        height: auto;
    }
    #contacto-header ul li a{
        font-size: 13px;
    }
    #face, #whats{
        width: 7%;
    }
    #Registro{
        display: none;
    }
    /*end header*/
    /*menu*/
    #menu{
        display: block;
        position:fixed;
        z-index: 3;
        width:15%;
        justify-self: end;
        margin-left:85%;
        /* margin-top:5%; */
        background: #fff;
        border:none;
    }
    #menu img{
        width:80%;
        vertical-align: middle;
    }
    nav{
        visibility: hidden;
    }
    #cell{
        display: none;
        margin-left:30%;
        text-align: center;
        position:absolute;
        z-index: 100;
        width:70%;
        background-color:#44B7CF;
        height:100vh;
    }
    #cell ul li{
        list-style: none;
        padding:5%;
        border-bottom:1px solid rgb(17, 151, 191);
    }
    #cell ul li a{
        color:#fff;
    }
    #cell button{
        background: transparent;
        border: none;
    }
    #exit{
        margin-left:-80%;
        margin-top:5%;
        width:10%;
    }
    #exit img{
        width:100%;
    }
    /*end menu*/    

    #logo{
        width:50%;
        margin-top:15%;
        margin-bottom:15%;
    }
    #principal-title h1{
        font-size: 36px;
    }
    .transport{
        margin:0 auto;
        margin-top:15px;
    }
    #Servicios{
        display: block;
    }
    #serv-text{
        margin: 0 auto;
    }
    #testimonios h2{
        font-size: 23px;
    }
    #contact-header{
        height: 50vh;
    }
    #contact-header h2{
        font-size: 30px;
    }
    #contact-header h3{
        font-size: 20px;
    }
    footer ul{
        display: block;
    }
    footer ul li{
        padding-right: 0;
    }
    footer ul li img{
        width: 10%;
        padding:5px;
    }

}