*{
    margin:0;
    padding:0;
    scrollbar-width: none;
    font-family: 'Archivo Black', sans-serif;
}
h2, h3, h1{
    font-family: 'Archivo Black', sans-serif;
}
body::-webkit-scrollbar{
    display: none;
}
header{
    height: 100vh;
}
.separador{
    display:block;
    width: 100%;
}
/* Contacto header */
#contacto-header{
    padding: 5px;
    text-align:center;
    height: 7vh;
    background-color: #44B7CF;
    color: #fff;
}

#contacto-header ul li{
    display: inline;
    vertical-align: middle;
    padding: 5px;
}
#contacto-header ul li a{
    text-decoration: none;
    color: #fff;
}
#Registro{
    text-decoration: none;
    padding: 5px;
    background-color: rgb(17, 151, 191);
    color: white;
    border: none;
    border-radius: 5px;
}
#Registro:hover{
        background-color: rgb(32, 188, 236);
        box-shadow: 0 10px 10px rgb(0 0 0 / 50%);
        transform: translateY(-2px)!important;
        transition: all 0.2s ease-in-out 0s;
}
#face{
    width: 2.5%;
}
#whats{
    width: 3%;
}
/* end */
/* Benner */
#banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("../img/madreTierra.jpeg");
    height: 93vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
}
#banner h1{
    margin-top:8vh;
    font-size: 60px;
    color: #fff;
}
#banner h3{
    color:#ffc31d;
}
#principal-title{
    /* padding-top: 5px; */
    background-color: #d30c3ac2;
}
#logo{
    width:15%;
    margin-top:5%;
}
#menu, #cell{
    display: none;
}
/* end */
/* Nav */
nav{
    justify-content: space-evenly;
    padding:10px;
}
nav ul{
    margin: 0 auto;
    align-self: center;
}
nav ul li{
    display: inline;
    padding: 10px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}
nav ul li a:hover{
    text-decoration: none;
    color: rgb(22, 201, 255);
}

.menu-fixed {
	position:fixed;
	z-index:1000;
	top:0;
    left:0;
	width:100%;
    height: auto;
    background-color: #44B7CF;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
}

/* end */
/*Transporte*/
#Transporte{
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("../img/tulum-mexico.webp");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
}
.second-transport{
    color:#fff;
}
#title-transport{
    background-color: #fff;
    padding: 20px;
    color: #ED2F59;
}
#Transporte button{
    padding: 10px 25px;
    background-color: rgb(17, 151, 191);
    color: white;
    border: none;
    border-radius: 5px;
}
#Transporte button:hover{
    background-color: rgb(32, 188, 236);
    box-shadow: 0 10px 10px rgb(0 0 0 / 50%);
    transform: translateY(-2px)!important;
    transition: all 0.2s ease-in-out 0s;
}
#Transporte h3, #Transporte h2{
    margin-bottom: 2%;
}
.transport{
    display: inline-block;
    margin: 0 auto;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3); 
    margin-right: 20px;
    margin-bottom: 5%;
    border-radius: 10px;
    border: 1px solid rgb(197, 197, 197);
    width: 360px;
    text-align: center;
    background-color: rgb(248, 248, 248);
}
.transport a{
    text-decoration: none;
}
.miniatura p{
    margin:auto;
    color: #fff;
}
.miniatura{
    display: flex;
    background-image: url("../img/suburban.jpg");
    border-radius: 10px 10px 0px 0px;
    height: 250px;
    width: 100%;
    background-size:cover;
    object-position: 50% 50%;
}
#info{
    font-size:18px;
    visibility: hidden;
}
.transport a div:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.4)  url("../img/suburban.jpg");
    background-size:cover;
    background-blend-mode: darken;
    transition: all 0.2s ease-in-out 0s;
}
.transport a div:hover #info{
    visibility: visible;
}
.icons-person{
    width: 100%;
    text-align: center;
    border-top: 1px solid #000;
    background-color: #f1f1f1;
    border-radius: 0px 0px 10px 10px;
}
.icons-person img{
    display: inline-block;
}
.icons-person img{
    vertical-align: middle;
    width:4%;
}
.icons-person p{
    display: inline-block;
    display: inline-block;
    padding-right:10px;
}
.precio{
    font-size: 18px;
    color:#389bf7;
}

#transporte1{
    background-image: url("../img/VANF.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
#transporte2{
    background-image: url("../img/versa.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
#transporte3{
    background-image: url("../img/TRANSPORTER.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
#transporte-vermas{
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
}
/* end */

/* Servicios */
#Servicios{
    display: grid;
    grid-template-columns: 55% 45%;
    grid-template-rows: auto auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url("../img/fondo-servicios.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top:5%;
    text-align: center;
}
#Servicios h2{
    color: rgb(252, 93, 162);
    grid-area: 1/1/2/3;
}
#servicios-carousel{
    grid-area: 2/2/3/3;
    align-self: center;
    justify-self: center;
    width: 100%;
}
#serv-text{
    grid-area: 2/1/3/2;
    /* height: 90%; */
    align-self: center;
    justify-self: center;
    width: 90%;
    text-align: center;
    line-height: 2;
    color: #000;
    font-size:18px;
    background-color: rgba(255, 255, 255, 0.8);
    /* padding: 15px; */
    border-radius: 5px;
}
#serv-text h2{
    text-align: center;
    width: 95%;
}
#serv-text h3, #serv-text img{
    display: inline-block;
    padding: 10px;
}
#serv-text h3{
    color:#ff5a81;
}
#serv-text p{
    margin:0 auto;
    width: 70%;
    padding:5px;
    margin-top: 5%;
    font-size: 22px;
}
.Serv{
    margin: 0 auto;
    margin-bottom: 5%;
    margin-right: 5%;
    width: 300px;
    text-align: center;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}
.Serv a{
    text-decoration: none;
}

.miniatura-servicio{
    display: flex;
    background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/Destination.jpg");
    height: 350px;
    width: 100%;
    background-size:cover;
    object-position: 50% 50%;
}
#info2{
    margin: 0 auto;
    text-align: center;
    font-size:18px;
    visibility: hidden;
    color: #fff;
    margin-top: 50%;
    
}
.Serv a div:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.4)  url("../img/Destination.jpg");
    background-size:cover;
    background-blend-mode: darken;
    
}
.Serv a div:hover #info2{
    visibility: visible;
}
#servicio1{
    background-image: url("../img/boda.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
#servicio2{
    background-image: url("../img/aeropuerto.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
#servicio3{
    background-image: url("../img/noche.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
#servicio4{
    background-image: url("../img/zonahotelera.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
#servicio5{
    background-image: url("../img/cenotes.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
/* end */
/* testimonios */
#testimonios{
    text-align: center;
    /* height: auto; */
    background-color: #f1f1f1;
    /* background-color: rgba(206, 21, 235, 0.433); */
    /* color: #fff; */
    border: 1px solid rgba(255, 0, 0, 0);
    
}
#testimonios h2{
    padding-top:2%;
}

#reservar-testimonios img, #reservar-testimonios h3{
    display: inline-block;
    padding: 10px;
    
}
.selfie{
    width: 60px;
    border-radius: 50%;
    margin: 0 auto;
}
/* #reservar-testimonios{
    display: flex;
} */
/* end */
/* testimonios */
#imagenes{
    text-align: center;
    height: min-content;
    border: 1px solid rgba(255, 0, 0, 0);
}
#imagenes h2{
    padding-top:2%;
}
/*Carusell*/
#myCarousel{
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-top:5%;
}
#myCarousel2{
    width: min-content;
    text-align: center;
    margin: 0 auto;
    margin-top:5%;
}
#myCarousel p{
    text-align: justify;
}
.carousel-indicators{
    background-color: #0000006a;
    border-radius: 5px;
}


.carousel-indicators li{
    border: 1px solid #389bf7;
}
.carousel-indicators .active{
    background-color: #389bf7;
}

.carousel-inner{
    padding-bottom:2%;
}

/*fotos clientes*/
.clientes-fotos {
    margin: 0 auto;
    width: 50%;
}
.clientes-fotos img{
    width: 100%;
}
/*end fotos*/
/* end Carrusell */
/* end */

/* contacto home */
#contact-header{
    border: 1px solid rgba(255, 0, 0, 0);
    height: 95vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),url("../img/camioneta.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
}
#contact-header ul{
    margin:10px;
}
#contact-header div{
    padding-top: 5%;
    display: flex;
    justify-content: center;
}
#contact-header div ul{
    list-style: none;
    padding-left: 20px;
}
#contact-header h2{
    padding:5%;
    font-size:60px;
    color: rgb(32, 188, 236);
}
#contact-header h3{
    font-size:25px;
    margin: 0 auto;
    width: 80%;
}
#contact-header div button{
    padding: 0px 25px;
    background-color: rgb(17, 151, 191);
    color: white;
    border: none;
    border-radius:5px;
}
#contact-header div button:hover{
    cursor: pointer;
    background-color: rgb(32, 188, 236);
    box-shadow: 0 10px 10px rgb(0 0 0 / 50%);
    transform: translateY(-2px)!important;
    transition: all 0.2s ease-in-out 0s;
}
#contact-index{
    padding-top: 20px;
}

/* end */



/* Footer */
footer{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("/img/banner.jpg"); */
    background-color: #131420;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    /* height: 22vh; */
    color: #fff;
    border-top: 1px solid rgb(215, 215, 215);
}
footer h2, footer h3{
    padding:10px;
}
footer h2{
    font-size:40px;
}
footer ul{
    display: flex;
    justify-content: center;
    margin:0;
}
footer ul li{
    display: inline;
    align-self: center;
    padding-right:20px;
    padding-top:5px;
}
footer ul li img{
    width: 25%;
}
footer ul li a{
    text-decoration: none;
    color: rgb(30, 202, 255);
}
footer div{
    border-bottom: 1px solid rgb(215, 215, 215);
}
/* end */

.reservar{
    padding: 10px;
    background-color: rgb(17, 151, 191);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.reservar:hover{
    background-color: rgb(32, 188, 236);
    box-shadow: 0 10px 10px rgb(0 0 0 / 50%);
    transform: translateY(-2px)!important;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
}

@media (max-width: 32.5rem) {
    h2{
        font-size: 25px;
    }
    h3{
        font-size: 20px;
    }
    #menu{
        display: block;
        position:fixed;
        z-index: 3;
        width:15%;
        justify-self: end;
        margin-left:85%;
        background: #fff;
        border:none;
    }
    #menu img{
        width:80%;
        vertical-align: middle;
    }
    #banner{
        height: 95vh;
    }
    /*heaader*/
    #contacto-header{
        height: auto;
    }
    #contacto-header ul li a{
        font-size: 13px;
    }
    #face, #whats{
        width: 7%;
    }
    #Registro{
        display: none;
    }
    /*end header*/
    /*menu*/
    #cell{
        display: none;
        margin-left:30%;
        position:absolute;
        z-index: 100;
        text-align: center;
        width:70%;
        background-color:#44B7CF;
        height:100vh;
    }
    #cell ul li{
        list-style: none;
        padding:5%;
        border-bottom:1px solid rgb(17, 151, 191);
    }
    #cell ul li a{
        color:#fff;
    }
    #cell button{
        background: transparent;
        border: none;
    }
    #exit{
        margin-left:-80%;
        margin-top:5%;
        width:10%;
    }
    #exit img{
        width:100%;
    }
    /*end menu*/
    /*nav*/
    nav{
        display: none;
    }
    /*end nav*/
    #logo{
        width:50%;
        margin-top:15%;
        margin-bottom:15%;
    }
    #principal-title h1{
        font-size: 36px;
    }
    #Transporte{
        padding-bottom: 10%;
    }
    .transport{
        margin:0 auto;
        margin-top:15px;
    }
    .second-transport{
        padding-bottom: 20px;
    }
    #Servicios{
        display: block;
    }
    #serv-text{
        margin: 0 auto;
    }
    #testimonios h2{
        font-size: 23px;
    }
    .clientes-fotos{
        width: 100%;
    }
    #contact-header{
        height: 50vh;
    }
    #contact-header h2{
        font-size: 30px;
    }
    #contact-header h3{
        font-size: 20px;
    }
    footer ul{
        display: block;
    }
    footer ul li{
        padding-right: 0;
    }
    footer ul li img{
        width: 10%;
        padding:5px;
    }
    nav{
        display: none;
    }
}