p{
    font-size: 20px;
}

#banner{
    background-image: url("../img/BANNERABOUTUS.png");
}
#presentacion{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr auto;
    justify-content: center;
    background-image: linear-gradient(rgba(22, 201, 255, 0.3), rgba(22, 201, 255, 0.2)), url("../img/fondo-servicios.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    color:#fff;
    /* align-items: center; */
}
#presentacion h2{
    margin-top:0;
    padding-top:5%;
    font-size: 35px;
}
#presentacion h2 :nth-child(1){
    color: rgb(220, 45, 45);
}
#presentacion h2 :nth-child(2){
    color: rgb(255, 94, 50);
}
#presentacion h2 :nth-child(3){
    color: rgb(207, 210, 29);
}
#presentacion h2 :nth-child(4){
    color: rgb(48, 201, 56);
}
#presentacion h2 :nth-child(5){
    color: rgb(10, 90, 182);
}
#presentacion h2 :nth-child(6){
    color: rgb(158, 27, 206);
}
#presentacion h4{
    margin-top:0;
    padding-top:2%;
    font-size: 25px;
}
#presentacion h2, #presentacion h4{
    text-align: center;
}
#presentacion #titulos{
    grid-area: 1/1/2/3;
}
#titulos{
    /* background-color: #fff; */
    padding-bottom:3%;
}
#titulos h2{
    /* background-color: #fff; */
    text-shadow: 1px 1px 2px #000;
}
#titulos h4{
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
    /* color:#000; */
}

#presentacion-text{
    grid-area: 3/1/4/1;
    width: 100%;
    height: 100%;
    text-align: justify;
    justify-self: center;
    font-size:18px;
    align-self: center;
    /* background:#000;
    color: rgb(235, 235, 235); */
    padding: 30px;

}
#last-spanish{
    margin-bottom: 40px;
}
#presentacion-text p{
    text-align: center;
    text-shadow: 1px 1px 2px black;
}
#presentacion-text p span{
    font-size:50px;
    color: #44B7CF;
    padding-right:5px;
    margin:0;
    line-height:1px;
}
#presentacion-img{
    grid-area: 3/2/4/3;
    justify-self: center;
    align-self: center;
}
#presentacion-img img{
    align-self: center;
    width: 100%;
    /* height: 100%; */
}
/*end presentacion*/
#razones h2{
    color: rgb(158, 27, 206);
}
#razones h3, #razones h2{
    text-align: center;
}
#info{
    margin-top:5%;
    margin-left:20%;
    display: grid;
    grid-template-columns: 45% 45%;
}
#listas ul li{
    font-size: 20px;
}
#listas ul{
    padding-left: 20px;
}
#last-text h3{
    text-align: left;
}
#info-text{
    align-self: center;
}
#calidad{
    color: #44B7CF;
    font-size: 25px;
}
.estrellas{
    width: 50px;
}
#info-text div{
    display: flex;
    justify-content: center;
}
/*caracteristicas*/
#somosTu{
    display: block;
    margin: 0 auto;
    width: 80%;
}
#servicios{
    margin-top:2%;
    padding:10px;
    text-align:center;
}
.servicios{
    display: inline-block;
    box-shadow: 1px 5px 10px 2px rgba(0, 0, 0, 0.151);
    background-color: #f8f8f8;
    border-radius:5px;
    margin:30px;
    width: 250px;
}
.servicios:hover{
    transition: all 0.25s ease-in-out 0s;
    transform:scale(1.1);
}
.servicios p{
    color: #040F2E;
    padding: 10px;
}
.servicios img{
    padding: 10px;
    width: 40%;
}
#operador{
    width: 70px;
}
#auto{
    width: 160px;
    padding-top:30px ;
}

@media (max-width: 32.5rem) {
    #presentacion{
        display: block;
    }
    #info{
        margin-left:5%;
        grid-template-columns: 50% 45%;
    }
    #presentacion-img img{
        display: block;
        margin: 0 auto;
        width: 70%;
        padding-bottom: 20px;
    }
    #banner{
        background-image: url("../img/BANNERABOUTUS22.png");
        background-size: contain;
    }
    #calidad{
        color: #44B7CF;
        font-size: 20px;
    }
    .estrellas{
        width: 30px;
    }
}